@import url('https://fonts.googleapis.com/css2?family=Leckerli+One&display=swap');

.font-leckerli {
  font-family: 'Leckerli One', cursive;
}
@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes pulse {
  0%,
  100% {
    transform: translate(-50%, -50%) scale(1);
  }
  50% {
    transform: translate(-50%, -50%) scale(1.05);
  }
}

.animated-img {
  z-index: 1;
  cursor: pointer;
  width: 200px;
  height: 200px;
  border-radius: 10px;
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  animation: pulse 1s infinite;
  transition: box-shadow 0.3s;
}

@layer base {
  :root {
    /* --card: 0 0% 100%;
        --card-foreground: 240 10% 3.9%;
        --popover: 0 0% 100%;
        --popover-foreground: 240 10% 3.9%;
        --primary: 346.8 77.2% 49.8%;
        --primary-foreground: 355.7 100% 97.3%;
        --secondary: 240 4.8% 95.9%;
        --secondary-foreground: 240 5.9% 10%;
        --muted: 240 4.8% 95.9%;
        --muted-foreground: 240 3.8% 46.1%;
        --accent: 240 4.8% 95.9%;
        --accent-foreground: 240 5.9% 10%;
        --destructive: 0 84.2% 60.2%;
        --destructive-foreground: 0 0% 98%;
        --border: 240 5.9% 90%;
        --input: 240 5.9% 90%;
        --ring: 346.8 77.2% 49.8%; */
    --radius: 0.5rem;
    /* --chart-1: 12 76% 61%;
        --chart-2: 173 58% 39%;
        --chart-3: 197 37% 24%;
        --chart-4: 43 74% 66%;
        --chart-5: 27 87% 67%; */
  }

  .dark {
    --background: 20 14.3% 4.1%;
    --foreground: 0 0% 95%;
    --card: 24 9.8% 10%;
    --card-foreground: 0 0% 95%;
    --popover: 0 0% 9%;
    --popover-foreground: 0 0% 95%;
    --primary: 346.8 77.2% 49.8%;
    --primary-foreground: 355.7 100% 97.3%;
    --secondary: 240 3.7% 15.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 0 0% 15%;
    --muted-foreground: 240 5% 64.9%;
    --accent: 12 6.5% 15.1%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 85.7% 97.3%;
    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;
    --ring: 346.8 77.2% 49.8%;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
  }
}

/*控制网站标题鼠标移动上去后出现下划线动画*/
.underline-animation {
  position: relative;
}

.underline-animation::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 2px; /* Adjust the thickness of the underline */
  bottom: 0;
  left: 0;
  background-color: currentColor; /* Use the current text color */
  transform: scaleX(0);
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.underline-animation:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

/*控制语言选项下拉框并两列显示*/
.dropdown-grid ul {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 8px;
}

@layer components {
  .NavigationMenuContent {
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    animation-duration: 250ms;
    animation-timing-function: ease;
    margin-top: 8px;
  }

  .NavigationMenuContent[data-motion="from-start"] {
    animation-name: enterFromLeft;
  }

  .NavigationMenuContent[data-motion="from-end"] {
    animation-name: enterFromRight;
  }

  .NavigationMenuContent[data-motion="to-start"] {
    animation-name: exitToLeft;
  }

  .NavigationMenuContent[data-motion="to-end"] {
    animation-name: exitToRight;
  }

  @keyframes enterFromRight {
    from {
      opacity: 0;
      transform: translateX(calc(-50% + 200px));
    }
    to {
      opacity: 1;
      transform: translateX(-50%);
    }
  }

  @keyframes enterFromLeft {
    from {
      opacity: 0;
      transform: translateX(calc(-50% - 200px));
    }
    to {
      opacity: 1;
      transform: translateX(-50%);
    }
  }

  @keyframes exitToRight {
    from {
      opacity: 1;
      transform: translateX(-50%);
    }
    to {
      opacity: 0;
      transform: translateX(calc(-50% + 200px));
    }
  }

  @keyframes exitToLeft {
    from {
      opacity: 1;
      transform: translateX(-50%);
    }
    to {
      opacity: 0;
      transform: translateX(calc(-50% - 200px));
    }
  }
}

@layer utilities {
  @keyframes enterFromRight {
    from {
      opacity: 0;
      transform: translateX(200px);
    }
    to {
      opacity: 1;
      transform: translateX(0);
    }
  }

  @keyframes enterFromLeft {
    from {
      opacity: 0;
      transform: translateX(-200px);
    }
    to {
      opacity: 1;
      transform: translateX(0);
    }
  }

  @keyframes exitToRight {
    from {
      opacity: 1;
      transform: translateX(0);
    }
    to {
      opacity: 0;
      transform: translateX(200px);
    }
  }

  @keyframes exitToLeft {
    from {
      opacity: 1;
      transform: translateX(0);
    }
    to {
      opacity: 0;
      transform: translateX(-200px);
    }
  }

  .animate-enterFromLeft {
    animation: enterFromLeft 250ms ease;
  }

  .animate-enterFromRight {
    animation: enterFromRight 250ms ease;
  }

  .animate-exitToLeft {
    animation: exitToLeft 250ms ease;
  }

  .animate-exitToRight {
    animation: exitToRight 250ms ease;
  }
}
